/*HTML reset*/

body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: black
}

a {
  text-decoration: none;
  color: inherit;
}

/*  Nav  */
nav{
  padding-top: 10%;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

}

nav ul li {
  display: inline;
  margin: 25px;
  padding: 15px;
  

}

header {
  text-align: center;
  background: url("images2.jpg") top/cover no-repeat;
  height: 85vh;
  width: 100%;
  margin: 0;
  
  
}
.bara{
  text-align: left;
  flex-direction: left;
}


/*  Main */

main{
  background: grey;
  margin: -5px;

}
.column img {
  border-radius: 10px
}

.principal {
  background: rgb(226, 229, 228);
  
  width: 100%;
  float: left;
  padding: 10px;
  text-align: center;

}

.center {
  background: red;
  
  width: 100%;
  
  display: flex;
  padding: 10px;
  
}







/*Footer section*/

footer {
  background: url("header.jpg") top/cover no-repeat; 
  color: #fbfbfd; 
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.row {
  overflow: hidden;
}

.column {
  width: 50%;
  float: left;
}

.center {
  text-align: center;
}